@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 35px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: rgb(147, 170, 169);  
}

.menu-main li {display: inline-block;}
.menu-main li:after {
  
  content: "|";
  color: #177a17;
  display: inline-block;
  vertical-align:top;
}
/* Оформление меню - главная-категории-корзина.... */
.menu-main li:last-child:after {content: none;}
.menu-main a {
  border:2px ridge rgb(93, 157, 241);
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 10px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  /* большие буквы */
  display: inline-block;
  transition: color .2s; 
}
.menu-main a, .menu-main a:visited {color: #141414;}
.menu-main a.current, .menu-main a:hover{color: #fee886;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #e7f529;
  /* подчеркивание при наведении  */
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}
 
/* #bg {
    background: url("/static/img/background.jpeg") 50% 0 no-repeat fixed;
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
} */