<!-- <table border="3">
    <th>ID</th>
    <th>Название</th>
    <th>Описание</th>
    <th>URL</th>
    {% for category in categories %}
    <tr>
        <td align="center" >{{category.id}}</td>
        <td align="center">{{category.name}}</td>
        <td align="center">{{category.description}}</td>
        <td align="center">{{category.slug}}</td>
     </tr>
    {% endfor %}
    <tr>
        {{subcategories}}
    </tr>
</table> -->

{% extends 'products/base.html' %}

{% block content %}
<ul>
    {% for cat in categories %}
        <li> {{cat.name}} </li>
    <ul>
        {% for subcategory in cat.categories.all %}
            <li>{{ subcategory.name}}</li>
            
        {% endfor %}   
    </ul>
    <br>
    {% endfor %}
  
</ul>



{% endblock %}